@import 'variables';

.toggle {
  label::after {
    position: absolute;
    content: "";
    height: 1.4rem;
    width: 1.4rem;
    background-color: $white;
    border-radius: 50%;
    transition: .5s;
  }

  input[type="checkbox"]:checked + label::after {
    transform: translateX(150%);
  }
}
