<div class="w-[25.1rem] h-[4.8rem] bg-grey-light dark:bg-grey-vdark rounded-lg flex items-center justify-center">
  <img src="assets/images/icon-light-theme.svg" class="w-6 h-6" alt="light">
  <div class="toggle flex mx-[2.367rem]">
    <input type="checkbox" [formControl]="toggleCtrl" name="switch" id="switch" class=" h-0 w-0 invisible absolute">
    <label for="switch" class="w-16 h-8 bg-purple p-1 rounded-2xl relative cursor-pointer"></label>
  </div>
  <img src="assets/images/icon-dark-theme.svg" class="w-6 h-6" alt="dark">
</div>
