@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply flex items-center justify-center font-bold focus:outline-none disabled:opacity-25;
  }
  .btn-primary {
    @apply btn bg-purple text-white hover:bg-purple-light;
  }
  .btn-secondary {
    @apply btn bg-purple-low text-purple hover:bg-purple-medium;
  }
  .btn-destructive {
    @apply btn bg-red text-white hover:bg-red-light;
  }

  .btn-lg {
    @apply h-4.8 rounded-2.4 text-md leading-md;
  }

  .btn-sm {
    @apply h-16 rounded-2 text-ms leading-ms;
  }
}

@import 'mixins';


html, body {
  font-family: $font-jakarta;
  font-size: $fs-10;
}

.mat-dialog-container {
  padding: 0 !important;
  background-color: transparent;
}

.menu + .cdk-overlay-connected-position-bounding-box {
  .mat-menu-panel {
    margin-top: 2.2rem;
  }
}

.menu-left + .cdk-overlay-connected-position-bounding-box {
  .mat-menu-panel {
    margin-top: 2.2rem;
    margin-left: -9rem;
  }
}

.drop + .cdk-overlay-connected-position-bounding-box {
  .mat-menu-panel {
    margin-top: .8rem;
  }
}

.mat-menu-panel {
  background-color: transparent;
  max-width: fit-content !important;
  min-height: fit-content !important;
}

.mat-menu-content {
  padding: 0 !important;
}

@include desktop {
  body, html {
    font-size: $fs-8s;
  }
}

@include tablet-wide {
  body, html {
    font-size: $fs-10s;
  }
}

@include tablet {
  body, html {
    font-size: $fs-10;
  }
}

@include mobile-wide {
  body, html {
    font-size: $fs-11s;
  }
}

@include mobile {
  body, html {
    font-size: $fs-10;
  }
}
