$font-jakarta: 'Plus Jakarta Sans', sans-serif;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

$fs-8s: 8.89px;
$fs-10: 10px;
$fs-10s: 10.57px;
$fs-11s: 11.04px;

$mobile: 400px;
$mobile-wide: 430px;
$tablet: 800px;
$tablet-wide: 830px;
$desktop: 1280px;
